 @tailwind base;
@tailwind components;
@tailwind utilities;

.line{
    height: 4px;
    width: 80px;
    background-color:#2C3E50;
  }

  .line1{
    height: 4px;
    width: 80px;
    background-color:#ffffff;
  }
